<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.jingle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AlbumsActivityLabel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlbumsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllSongsActivity"
            android:label="@string/AllSongsActivityLabel">
        </activity>
        <activity android:name=".CurrentAlbumActivity"
            android:label="@string/CurrentAlbumsActivityLabel"/>
        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/NowPlayingActivityLabel"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>