<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.jingle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Albums"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Albums">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllSongs"
            android:label="@string/AllSongsIcon"/>
        <activity
            android:name=".Radio"
            android:label="Radio"/>
        <activity android:name=".CurrentAlbumActivity"/>
        <activity
            android:name=".NowPlaying"
            android:label="Now Playing"/>
    </application>

</manifest>